[Unit]
Description=The acme-deploy container
Requires=acme-register.service acme-certs.volume
After=acme-register.service acme-certs.volume

[Container]
ContainerName=acme-deploy
HostName=acme-deploy
Image=docker.io/neilpang/acme.sh:3.1.1

# Volumes
Volume=/etc/pki/ca-trust/extracted/pem/tls-ca-bundle.pem:/root_ca/root_ca.crt:ro,Z
Volume=acme-certs:/acme.sh:Z
Volume=haproxy-certs:/etc/haproxy/certs/:Z

# Networks for the Container to use
Network=openchami-cert-internal.network

# Command
Exec=--deploy \
  --ca-bundle /root_ca/root_ca.crt \
  --server https://step-ca:9000/acme/acme/directory \
  -d demo.openchami.cluster \
  --home /acme.sh \
  --standalone \
  --deploy-hook haproxy \
  --force

[Service]
Restart=on-failure
Type=oneshot
RemainAfterExit=yes