[Unit]
Description=The acme-deploy container
Requires=acme-register.service
After=acme-register.service

[Container]
ContainerName=acme-deploy
HostName=acme-deploy
Image=ghcr.io/openchami/acme.sh:v0.2.3

# Volumes
Volume=/etc/pki/ca-trust/extracted/pem/tls-ca-bundle.pem:/root_ca/root_ca.crt:ro,z
Volume=acme-certs:/root/.acme.sh
Volume=haproxy-certs:/root/certs/:Z

# Environment Variables
EnvironmentFile=/etc/openchami/configs/openchami.env

# Networks for the Container to use
Network=openchami-cert-internal.network

# Proxy settings
PodmanArgs=--http-proxy=false --entrypoint='["/bin/sh", "-c", "/usr/bin/acme.sh --server https://step-ca:9000/acme/acme/directory --deploy --deploy-hook haproxy --domain demo.openchami.cluster"]

[Service]
Restart=on-failure
Type=oneshot
RemainAfterExit=yes
