[Unit]
Description=The bss container
PartOf=openchami.target

# Ensure the init job has started (and if it fails, BSS will fail):
Requires=bss-init.service
After=bss-init.service

# Ensure SMD has started already
Wants=smd.service
After=smd.service

# Hydraledger JWKS must be generated first:
Wants=hydra-gen-jwks.service
After=hydra-gen-jwks.service


[Container]
ContainerName=bss
HostName=bss
Image=ghcr.io/openchami/bss:v1.32.0

# Environment Variables
EnvironmentFile=/etc/openchami/configs/openchami.env

# Secrets
Secret=bss_postgres_password,type=env,target=BSS_DBPASS

# Networks for the Container to use
Network=openchami-internal.network

# Proxy settings
PodmanArgs=--http-proxy=false

[Service]
Restart=always
