[Unit]
Description=The coresmd container
Requires=haproxy.service
After=haproxy.service
PartOf=openchami.target

[Container]
ContainerName=coresmd

HostName=coresmd
Image=ghcr.io/openchami/coredhcp:v0.3.0

#Capabilities
AddCapability=NET_ADMIN

# Volumes
Volume=step-root-ca.volume:/root_ca/:ro,Z
Volume=/etc/openchami/configs/coredhcp.yaml:/etc/coredhcp/config.yaml:ro,Z

# Networks for the Container to use
Network=host


# Unsupported by generator options
# Proxy settings
PodmanArgs=--http-proxy=false

[Service]
Restart=always
