[Unit]
Description=The haproxy container
Requires=opaal.service bss.service acme-deploy.service cloud-init-server.service smd.service
After=opaal.service bss.service acme-deploy.service cloud-init-server.service

[Container]
ContainerName=haproxy
HostName=haproxy
Image=cgr.dev/chainguard/haproxy

# Volumes
Volume=/etc/openchami/configs/:/usr/local/etc/haproxy/:ro,Z
Volume=haproxy-certs.volume:/etc/haproxy/certs/:ro,Z

# Ports
PublishPort=8081:80
PublishPort=8443:443

# Networks for the Container to use
Network=openchami-external.network
Network=openchami-internal.network
Network=openchami-jwt-internal.network

# Unsupported by generator options
# Proxy settings
PodmanArgs=--http-proxy=false

[Service]
Restart=always
