[Unit]
Description=The hydra container
Requires=hydra-migrate.service
After=hydra-migrate.service
PartOf=openchami.target

[Container]
ContainerName=hydra
HostName=hydra
Image=docker.io/oryd/hydra:v2.2.0-rc.3

# Volumes
Volume=/etc/openchami/configs/:/etc/config/hydra:Z

# Environment Variables
EnvironmentFile=/etc/openchami/configs/openchami.env

# Secrets
Secret=hydra_system_secret,type=env,target=SECRETS_SYSTEM
Secret=hydra_dsn,type=env,target=DSN

# Command to run in container
Exec=serve -c /etc/config/hydra/hydra.yml all --sqa-opt-out

# Networks for the Container to use
Network=openchami-jwt-internal.network


# Proxy settings
PodmanArgs=--http-proxy=false

[Service]
Restart=always
