[Unit]
Description=The hydra-gen-jwks container
Wants=hydra.service
After=hydra.service
PartOf=openchami.target

[Container]
ContainerName=hydra-gen-jwks
HostName=hydra-gen-jwks
Image=cgr.dev/chainguard/curl:latest

# Command to run in container
Exec=--retry 10 --retry-delay 5 --retry-all-errors --verbose http://hydra:4444/.well-known/jwks.json

# Networks for the Container to use
Network=openchami-jwt-internal.network


# Unsupported by generator options
# Proxy settings
PodmanArgs=--http-proxy=false

[Service]
Restart=on-failure
Type=oneshot
RemainAfterExit=yes
