[Unit]
Description=The image-server container

[Container]
ContainerName=image-server
HostName=image-server
Image=docker.io/library/nginx:latest

# Volumes
Volume=/data/domain-images:/usr/share/nginx/html:ro

# Ports
PublishPort=172.16.0.254:8080:80

# Unsupported by generator options
# Proxy settings
PodmanArgs=--http-proxy=false

[Service]
Restart=always
# Run commands before container starts
ExecStartPre=mkdir -p /data/domain-images
