[Unit]
Description=The opaal-idp container
Wants=hydra-gen-jwks.service
After=hydra-gen-jwks.service
PartOf=openchami.target

[Container]
ContainerName=opaal-idp
HostName=opaal-idp
Image=ghcr.io/openchami/opaal:v0.3.10

# Volumes
Volume=/etc/openchami/configs:/opaal/config/:Z

# Command to run in container
Exec=/opaal/opaal serve --config /opaal/config/opaal.yaml

# Networks for the Container to use
Network=openchami-jwt-internal

# Proxy settings
PodmanArgs=--http-proxy=false

[Service]
Restart=always
EnvironemntFile=-/etc/openchami/configs/openchami.env
