[Unit]
Description=The smd container
Wants=postgres.service
After=smd-init.service opaal.service
PartOf=openchami.target

[Container]
ContainerName=smd
HostName=smd
Image=ghcr.io/openchami/smd:v2.18.0

# Environment Variables
EnvironmentFile=/etc/openchami/configs/openchami.env

# Secrets
Secret=smd_postgres_password,type=env,target=SMD_DBPASS

# Networks for the Container to use
Network=openchami-internal.network

# Unsupported by generator options
# Proxy settings
PodmanArgs=--http-proxy=false

[Service]
Restart=always
