[Unit]
Description=The step-ca container

[Container]
ContainerName=step-ca
HostName=step-ca
Image=ghcr.io/openchami/local-ca:v0.2.2

# Volumes
Volume=step-ca-home.volume:/home/step
Volume=step-ca-db.volume:/home/step/db
Volume=step-root-ca.volume:/root_ca/

# Environment Variables
EnvironmentFile=/etc/containers/systemd/openchami.env

# Networks for the Container to use
Network=openchami-cert-internal.network

# Proxy settings
PodmanArgs=--http-proxy=false
PodmanArgs=--no-hosts

[Service]
Restart=always
